# Start here

Hello and welcome. If you are here to learn about OpenPrescibing through the `OpenPrescibing course`, please open the `module_1.ipynb` file in the lessons folder in the explorer to the right. If you are experienced with JupyterLabs, Big Query and OpenPrescibing, please just delete this `markdown section` and start using JupterLabs as you like.

We have put some simple code below for you to test that everthing is running correctly. When you run the below snippet of code, you should see a 2 column list of `CCG names`.

In [3]:
import os
from ebmdatalab import bq
from pathlib import Path

# Set data path
DATA_FOLDER = Path("data")

sql = """
    SELECT
        code,
        name
    FROM
        ebmdatalab.hscic.ccgs
    WHERE
        name IS NOT NULL
    GROUP BY
        code,
        name
    """

ccg_names = bq.cached_read(sql, os.path.join(DATA_FOLDER, "ccg_names.csv"), use_cache=False, progress_bar_type=None)
ccg_names

      code                                               name
0      13H  BRISTOL, NORTH SOMERSET, SOMERSET AND SOUTH GL...
1      13K                  KENT AND MEDWAY COMMISSIONING HUB
2      13L                SURREY AND SUSSEX COMMISSIONING HUB
3      13M                    THAMES VALLEY COMMISSIONING HUB
4      12V   DERBYSHIRE AND NOTTINGHAMSHIRE COMMISSIONING HUB
..     ...                                                ...
452    01K                                  NHS MORECAMBE BAY
453    06Q                                      NHS MID ESSEX
454    11X                                       NHS SOMERSET
455    36J                   NHS BRADFORD DISTRICT AND CRAVEN
456  B2M3M                      NHS COVENTRY AND WARWICKSHIRE

[457 rows x 2 columns]